
.container {
    max-width: 1170px;
    margin: 0 auto;

    .grid {
        display: block;

        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: 1fr, 1fr;
            gap: 20px;
        }

        &__item--full {
            margin-bottom: 10px;

            @media (min-width: $tablet) {
                grid-column: span 2
            }
        }

        &__item--half {
            margin-top: 10px;

            @media (min-width: $tablet) {
                grid-column: span 1
            }
        }


    }
}




